body { 
    font-family: Arial, Helvetica, sans-serif;
}

label {
    white-space: nowrap;
}

table input {
    border: 2px solid black;
    width: 200px;
}

.logo {
    width: 120px;
    display: block;
    margin: 10px;
}

h2 {
    color: rgb(36, 131, 120)
}

.border {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    width: 450px;
    padding: 10px;

}

form.aligned {
    width: 320px;
    display: grid;
    grid-template-columns: 100px 1fr;
}