/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 4, 2026, 2:08:22 PM
    Author     : USER
*/

body {
    font-family: Arial, sans-serif;
}

.blue-colored {
    color: cadetblue;
}

.section {
    color: green;
}
